<main class="contenedor">
    <form action="/editar-perfil"  method="POST" enctype ="multipart/form-data" class="default-form">
        {{#if usuarios.length}}
        {{#each usuarios}}

        <div class="campo">
            <label for="nombre">Nombre</label>
            <input  type="text" name="nombre" placeholder="Tu Nombre" value="{{nombre}}">
        </div>

        <div class="campo">
            <label for="email">E-mail</label>
            <input  type="email" name="email" placeholder="Tu E-mail" value="{{email}}">
        </div>

        <div class="campo">
            <label for="password">Password</label>
            <input type=" password" name="password" placeholder="Tu Password">
        </div>

        <div class="campo">
            <label for="imagen">Imagen</label>
            <input type="file" name="imagen">
            <img src="uploads/perfiles/{{imagen}}" class="admin-perfil">
        </div>

        <div class="campo">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>

        {{/each}}
        {{/if}}

    </form>

</main>