<main class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
      <div class="campo">
          <label for="email">E-mail </label>
          <input type="email" name="email" placeholder="Tu email" >
      </div>
    <div class="campo">
        <label for="password">E-mail </label>
        <input type="password" name="password" placeholder="Tu Contraseña" >
    </div>
    <div class="campo acciones">
        <a href="/crear-cuenta"> Crear una cuenta</a>
        <a href="/restablecer-password"> Olvide mi password</a>
    </div>
    <div class="campo">
        <input type="submit" value="Iniciar Sesion" class="btn btn-azul">
    </div>
    </form>
</main>